package home

import (
	"github.com/kamran0812/gobase/views/layouts"
)

templ Index() {
	@layouts.Base() {
		<div class="flex flex-col items-center">
			<div class="text-xl font-bold">Home page</div>
		</div>
	}
}
